################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FIFAWebApp/bin
/FIFAWebApp/obj/Debug
/.vs/FIFAWebApp
